/* this CSS file is only for noting BG colores i liked  */
/* body {
    color: rgb(145, 86, 227);
    color: rgb(107, 55, 197);
    color: rgb(231, 205, 251);
    color: rgb(85, 36, 235);
    color: rgb(179, 99, 147);
    color: rgb(216,156,121);
    color: rgb(204, 76, 77);
    color: rgb(59, 154, 247);
    color: rgb(150, 127, 94);
    color: rgb(158, 95, 50);
    color: rgb(228, 135, 47);
    color: rgb(81, 130, 132);
    color: rgb(149, 190, 144);
    color: rgb(109,197,139);
    color: rgb(218, 241, 222);
} */