* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: rgb(44, 42, 39);
}

section {
    width: 100%;
    max-width: 700px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 0 1em;
}

.wrapper {
    border: 1px sold teal;
    display: flex;
    flex-direction: column;
}

.wrapper__content {
    height: calc(100%/3);
    height: calc(100vh /3);
    display: flex;
    justify-content: center;
    align-items: end;
}

.wrapper__content:nth-child(2) {
    align-items: center;
}

.wrapper__content:nth-child(3) {
    align-items: start;
    flex-direction: column;
}


.content-section {
    width: 100%;
    justify-content: center;
}

h1 {
    font-size: clamp(3rem, 5vw, 8rem);
    color: #fff;
}

.insert-info {
    color: #eee;
    font-size: clamp(1.6rem, 3vw, 2rem);
}

.numberFont {
    font-size: 4rem;
}

.btn {
    margin: .5em;
    padding: 1em;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    transition: all .3s ease-in;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-5px);
    border: 1px solid white;
    background-color: white;
    color: green;
}

.clearBtn:hover {
    border: 1px solid rgb(119, 0, 0);
    background-color: rgb(165, 93, 93);
    color: #fff;
    transform: translateY(0);
    transform: scale(1.2);
}